@media (max-width: 500px) {
    .main-layout {
        flex-direction: column;
    }
    .main-layout__nav-menu {
        height: 50px;
        width: 100%;
    }
}
@media (min-width: 501px)  {
    .main-layout__nav-menu {
        width: 50px;
    }
}
.main-layout {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
}

.main-layout__nav-menu {
    background-color: #2b2f42;
}
